body > header, body > .slider, body > .service, body > .portfolio, footer, body > .copyright {
    margin: 0;
}

.portfolio > .container > .tabs > .tabs-content > .tab-content {
    width: 270px;
    height: 220px;
}

.service > .container > .service-block {
    zoom: 1;
    display: inline;
}
body > header > .header-wrap.container > .menu  .item-menu{
    zoom: 1;
    display: inline;
}

body > .portfolio > .container .portfolio-header {
    margin-top: 20px;
}

.address:before, .phone:before {
    background-repeat: no-repeat;
}