body > header, body > .slider, body > .service, body > .portfolio, footer, body > .copyright {
    margin: 0;
}

.portfolio > .container > .tabs > .tabs-content > .tab-content {
    width: 270px;
    height: 220px;
}

.service > .container > .service-block {
    zoom: 1;
    display: inline;
}
body > header > .header-wrap.container > .menu  .item-menu{
    zoom: 1;
    display: inline;
}

body > .portfolio > .container .portfolio-header {
    margin-top: 20px;
}

.contacts .address:before {
    background: url("../img/sprite-loc-phone.png") no-repeat -3px 1px;
}

.contacts .phone:before {
    content: "";
    background: url("../img/sprite-loc-phone.png") no-repeat -17px 2px;
}