body > header, body > .slider, body > .service, body > .portfolio, footer, body > .copyright {
    margin: 0;
}

.portfolio > .container > .tabs > .tabs-content > .tab-content {
    width: 270px;
    height: 220px;
}