body {
    padding: 10px;
    margin: 0;
}

.text-block {
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    background-color: #E2FFDC;
    max-width: 578px;
    font-size: 14px;
    text-align: left;
    max-height: 180px;
    overflow: hidden;
    text-overflow: clip;
}