body, html {
    font-family: "Times New Roman", sans-serif;
}

p.text{
    position: relative;
}

em[data-ref]{
    border-bottom: solid #ffa23b 1px;
}

em::before{
    content: open-quote attr(data-ref) close-quote;
    font-size: 0.75em;
    font-style: normal;
    left: -90px;
    line-height: 17px;
    position: absolute;
    quotes: "[" "]";
    text-align: right;
    width: 80px;
}

figure {
    margin: 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

figcaption {
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    padding: 13px 0 5px 10px;
    left: 0;
    right: 0;
    width: auto;
    line-height: 25px;
}

.subtitle{
    display: block;
    font-weight: normal;
    font-size: 0.5em;
    color: #D2C8C8;
}

figure > img {
    display: block;
    width: 100%;
}
