body {
    margin: 0;
    font-size: 14px;
    padding: 10px 10px 10px 120px;
}

.remark{
    font-size: 10px;
    width: 100px;
    float: left;
    clear: left;
    word-wrap: break-word;
    margin-left: -110px;
}
