.container{
    padding-right: 10px;
    padding-left: 10px;
}

.remark{
    font-size: 10px;
    width: 100px;
    float: left;
    clear: left;
    word-wrap: break-word;
}

.text{
    font-size: 14px;
}

.content {
    padding-left: 110px;
}